body {
  overflow: auto;
}
.b1 {
  margin-left: 100px;
}
.autocomplete-container {
  width: 80%; /* Make the container take full width */
}

.autocomplete-wrapper {
  width: 80%; /* Ensure the wrapper takes full width */
  max-width: 400px; /* Set a maximum width for the autocomplete component */
}

.autocomplete-input {
  width: 80%; /* Make the input take full width of the wrapper */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.button-with-emoji {
  position: relative;
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji {
  margin-left: 10px; /* Space between text and emoji */
  opacity: 0; /* Hide the emoji by default */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.button-with-emoji:hover .emoji {
  opacity: 1; /* Show the emoji on hover */
}
